$background-color: black
$accent-color: #FFAAFF
$default-color: white
$default-border: round

LoginScreen {
    background: $background-color;
    align: center middle;

    #input-form {
        align: center middle;
        background: $background-color;
        border: $default-border $default-color;
        max-width: 40;
        max-height: 16;
    }

    #connecting-error {
        align: center middle;
        background: $background-color;
        padding: 0 0 1 2;
    }

    Input {
        background: $background-color;
        border: $default-border $default-color;
    }

    Input:focus {
        background: $background-color;
        border: $default-border $accent-color;
    }

    Button {
        background: $background-color;
        border: $default-border $default-color;
        color: $default-color;
        opacity: 80%;
        margin: 0 10;
        width: 100%;
    }

    Button:focus {
        border: $default-border $accent-color;
        color: $accent-color;
        text-style: bold;
        text-opacity: 100%;
    }
}

MainScreen {
    background: $background-color;
    border: $default-border $default-color;

    ListView {
        background: $background-color;
        padding: 0 1 0 1;
        scrollbar-size: 0 1;
        scrollbar-background: $background-color;
        scrollbar-color: $default-color;
        border: $default-border $default-color;
    }

    ListItem {
        background: $background-color;
    }

    ListView:focus {
        border: $default-border $accent-color 
    }

    ListView:focus ListItem.--highlight {
        background: $accent-color;
    }

    #member-list {
        width: 1fr;
        min-width: 20;
    }

    #vertical-layout {
        width: 5fr;
    }

    #message-input {
        border: $default-border $default-color;
        height: 3;
        width: 100%;
    }

    #message-input:focus {
        border: $default-border $accent-color;
    }
}
